body{
    text-align:center;
    font-family:Arial;
    background:#111;
    color:white;
}

.top-bar{
    display:flex;
    justify-content:space-between;
    padding:20px;
}

.player-info{
    width:40%;
}

#timer1,#timer2{
    font-size:30px;
    color:yellow;
}

.board{
    width:360px;
    height:360px;
    margin:20px auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:5px;
}

.cell{
    background:#222;
    font-size:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

button{
    padding:10px 20px;
    margin:10px;
    font-size:18px;
}
